body{
    background: url(images/wallpaper.jpg);
    /* ^https://wall.alphacoders.com/big.php?i=420126*/
    background-size: cover;
    margin: 0;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* banner elements */
h1, h2{
    color: white;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    background-color: rgb(0,193,239);
}
h1{
    margin: 0;
    font-size: 80px;
    letter-spacing: 1.7px;
}
h2{
    margin: 0 0 15px 0;
    padding-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1.5px;
}

/* playing area elements */
.playing-area{
    margin-left: 50px;
}

.ask{
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
}

.prompt{
    font-family: 'Zilla Slab', serif;
    font-size: 25px;
    color: rgb(0,193,239);
    text-align: center;
}

.questions{
    width: 45%;
    padding-bottom: 13px;
    border-bottom: 4px solid rgb(0,193,239);
}

.character {
    position: relative;
    left: 26px;
    bottom: 77px;
}

input[type=radio]:checked + label>img {
    border: 2px solid rgb(0,193,239);
    box-shadow: 0 0 2px 2px white;
}

input[type=radio] + label>img {
    border: 1px solid white;
    border-radius: 13px;
    width: 90px;
    height: 90px;
    transition: 500ms all;
}

#submit{
    font-size: 30px;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
    color:white;
    background-color: rgb(0,193,239);
    font-family: 'Zilla Slab', serif;
    text-align: center;
}

/* below is from https://stackoverflow.com/questions/20340138/remove-blue-border-from-css-custom-styled-button-in-chrome */
#submit:focus{
    outline: 0;
}

#score{
    font-size: 40px;
    margin: 15px auto;
    color: rgb(5,4,194);
    font-family: 'Zilla Slab', serif;
}

#ranking{
    font-size: 20px;
    margin: 15px auto;
    color: black;
    font-family: 'Zilla Slab', serif;
}