body{
    background: url(images/wallpaper.jpg);
    /* ^https://wall.alphacoders.com/big.php?i=420126*/
    background-size: cover;
    margin: 0;
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* banner elements */
h1, h2{
    color: white;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    background-color: rgb(0,193,239);
}
h1{
    margin: 0;
    font-size: 80px;
    letter-spacing: 1.7px;
}
h2{
    margin: 0 0 15px 0;
    padding-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1.5px;
}

/* playing area elements */
.playing-area{
    margin-left: 50px;
}

.ask{
    font-family: 'Zilla Slab', serif;
    font-size: 20px;
}

.prompt{
    font-family: 'Zilla Slab', serif;
    font-size: 25px;
    color: rgb(0,193,239);
}

.questions{
    border-bottom: 2px solid rgba(5,4,194,0.6);
    width: 45%;
    padding-bottom: 13px;
}

.michael, .dwight, .andy, .jim, .phyllis, .pam, .kevin, .ryan, .creed,
.kelly, .oscar, .gabe, .david, .robert, .charles, .holly, .meredith,
.angela, .stanley, .jan, .erin, .darryl, .deangelo, .toby, .prison {
    position: relative;
    left: 26px;
    bottom: 77px;
}

input[type=radio]:checked + label>img {
    border: 2px solid rgb(0,193,239);
    box-shadow: 0 0 2px 2px white;
}

input[type=radio] + label>img {
    border: 1px solid white;
    border-radius: 13px;
    width: 90px;
    height: 90px;
    transition: 500ms all;
}